:root  > * {
  --md-primary-fg-color:                #017f7e;
  --md-primary-fg-color--light:         #017f7e;
  --md-primary-fg-color--dark:          #017f7e;

  --md-accent-fg-color:                 #01ffff;
  --md-accent-fg-color--transparent:    #01ffff19;
}

.requires-ssuh {
    color: #dda900;
    cursor: help;
}

.requires-ssuh:hover {
    filter: brightness(1.2);
    text-shadow: 0 0 6px #a60;
}